{
  "extends": ["eslint-config-egg", "plugin:prettier/recommended"],
  "root": true,
  "rules": {
    "arrow-parens": [2, "always"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline",
      },
    ],
    "array-bracket-spacing": [0, "never"],
    "jsdoc/require-param-description": "off",
    "jsdoc/require-returns-description": "off",
  },
}
