[data-solvely-youtube-panel] {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
// 移除 wxt 生成原生 shadow root body 的 margin
body {
  margin: 0;
}

// 确保 PrimeVue 组件样式正常
[data-solvely-youtube-panel] {
  .p-tooltip {
    z-index: 9999;
  }

  .p-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
